/** @format */

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
	color: #fff;
	display: flex;
	font-family: "Muli", sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	/* min-height: 100vh; */
	background-image: url(../imagesAndGifs/circle-5090539_1920.jpg);
	background-size: cover;
}

.left-section {
	text-align: center;
}
/* .right-section {
	position: absolute;
	float: left;
	left: 50%;
	width: 48%;
	height: 90vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	border: black 2px solid;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 1em;
} */

h1 {
	color: rgb(236, 228, 228);
	/* text-align: center; */
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type="checkbox"] {
	margin-right: 0;
}

.container {
	background-color: cadetblue;
	box-shadow: 3px 2px 10px rgba(63, 29, 29, 0.2);
	padding: 20px;
	width: 300px;
	max-width: 100%;
	border-radius: 6px;
	margin-left: 2.5em;
}

.result-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #2175c4;
	border-radius: 8px;
}

.btn-large {
	display: block;
	width: 100%;
}

.btn-large a {
	text-decoration: none;
	color: #fff;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

/* .form-control {
	border: none;
	border-radius: 4px;
	background: transparent;
	color: #fff;
} */

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
	h1 {
		font-size: 25px;
		text-align: center;
	}
}

.choose_way {
	display: none;
	/* text-align: center; */
	/* display: flex;
		justify-content: center; */

	width: 300px;
	height: max-content;
	background-color: green;
	padding: 1em;
}

.shifrlash {
	display: none;
}

.shifrlash > input {
	width: 20em;
	margin: 0 auto 1em;
	height: 3em;
}

.shifrlash > button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

/* deshifrlash */

.deshifrlash {
	display: none;
}

.deshifrlash > input {
	width: 20em;
	margin: 0.5em auto 1em;
	height: 3em;
}

#tubsonlar {
	display: block;
	width: 20em;
	height: 15em;
	margin: 0 auto 1em;
}

#tubsonlarParagraph {
	display: block;
}

#functionE {
	display: none;
}
